.intro {
    font: font-family: 'Montserrat', sans-serif;
    font-size: 3em;
}

.statement {
    font: font-family: 'Playfair Display', serif;
    font-size: 2em;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 100px;
    grid-gap: 8px;
}