html {
    height: 100%;
}
body {
    display: grid;
    grid-template: 60% 40% / 50% 50%;
    height: 100%;
    margin: 0;
}
#div-1 {
    background-color: pink;
}
#div-2 {
    background-color: salmon;
}
#div-3 {
    background-color: yellow;
}
#div-4 {
    background-color: palegreen;
}